@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato-Regular";
  src: url("../public/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../public/Lato-Bold.ttf");
}

body {
  padding: 0;
  /* background-color: rgb(20, 184, 166); */
  background: #373B44;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

